* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

main {
  border-top: 8px solid hsl(0deg, 0%, 60%);
  background-color: hsl(0deg, 0%, 40%);
}

p {
  font-size: 1.25rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 96px 0;
}

.title {
  font-size: 2rem;
  margin-bottom: 48px;
}

.intro-chunk {
  max-width: 480px;
  padding: 0 24px;
}

.card {
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  padding: 8px 24px;
}

.indented-heading {
  font-size: 1.5rem;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  display: inline-block;
  padding: 8px 32px;
  margin-left: -32px;
}